
<script src="https://w.soundcloud.com/player/api.js"></script>


<script>
    //SC.initialize({
    //    client_id: 'eeb92cf54788bbbc246cedd5af656f4c'
    //});

    $(window).load(function () {
        $(".track").each(function (i, el) {
            var track_url = el.innerHTML;
            SC.Widget(el);
            //SC.oEmbed(track_url, { auto_play: false }, function (oEmbed) {
            //    el.innerHTML = oEmbed.html;
            //    $(el).show();
            //});
        })
    });
</script>

@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}
<h3>Tracks:</h3>
<ol>
    @foreach (var item in @ViewBag.Tracks)
    {
        <li>
            <iframe class="track" src="@string.Format("//w.soundcloud.com/player/?url={0}", item.permalink_url)" width="100%" scrolling="no" frameborder="no"></iframe>
        </li>
    }
</ol>

<h3>YouTube videos:</h3>
<ol>
    @foreach (var item in @ViewBag.Videos)
    {
        <li>
            <iframe width="540" height="350" src="@string.Format("//www.youtube.com/embed/{0}", item.Id.VideoId)" frameborder="0"></iframe>
        </li>
    }
</ol>


